# Star

### Read data

In [7]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

# Read the different txt files
df = pd.read_csv('Star\star_classification.csv', sep=',')

### Preprocess

In [8]:
# Shuffle the data and save to csv
df = df.sample(frac=1)
df['class'] = pd.factorize(df['class'])[0]
df.drop(['obj_ID','run_ID','rerun_ID','field_ID','fiber_ID'], axis=1, inplace=True)

# move the class column to the end
df = df[['u','g','r','i','z','redshift','class']]

# save to csv
df.to_csv('Star\star.csv', index=False, header=False)

df.head()

              u         g         r         i         z  redshift  class
11180  22.20520  21.70538  20.72960  19.46407  18.60965  0.000033      0
51884  22.09611  21.88446  21.71349  21.37898  21.47463  0.782111      1
30796  20.21655  19.86180  19.62972  19.60722  19.60508  1.185392      1
22430  24.42121  22.05689  20.65225  19.82417  19.45404  0.402813      2
30650  22.78908  22.78103  20.89624  19.73037  19.73917  0.595209      2

### Plot the data

In [9]:
# Plot the data